source https://www.nuget.org/api/v2

nuget LanguageExt.Core
nuget System.Runtime
nuget LinqOptimizer.FSharp
nuget Microsoft.VisualBasic
nuget FSharp.Data

github eiriktsarpalis/TypeShape:2.10 src/TypeShape/TypeShape.fs